@import url(https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap);
html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

body {
    margin: 0;
    background-color: #fff;
    color: #333;
    font-size: 15px;
    font-family: "Roboto", Helvetica, Arial, sans-serif;
    font-weight: 400;
    line-height: 20px;
    display: flex;
    width: 100vw;
    height: 100vh;
    justify-content: center;
    align-items: center;
}

p {
    margin: 0;
}

input[type="submit"] {
    visibility: collapse;
}

input {
    border: none;
    outline: none;
    width: 100%;
    background-color: #4b4453;
    padding: 0 22px;
    min-height: 58px;
    border-radius: 0 0 22px 22px;
    color: rgb(231, 224, 236);
    font-size: 16px;
}

input::placeholder {
    color: rgb(231, 224, 236);
    opacity: 0.5;
}

.container {
    display: flex;
    flex-direction: column;
    background-color: #211e27;
    width: 100%;
    max-width: 400px;
    height: 80%;
    padding: 0 14px 14px;
}

.info {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 50px;
    margin: 15px 0;
}

.info__user {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-left: 8px;
}

.info__avatar-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    background-color: #151219;
    border-radius: 9999px;
    margin-left: 12px;
}

.info__name-container {
    display: flex;
    flex-direction: column;
    justify-content: end;
    height: 50px;
}

.info__name {
    color: #cfbff5;
    font-size: 20px;
}

.info__last-seen {
    color: #cfbff5;
    opacity: 0.7;
    font-size: 12px;
}

.info__utils-container {
    display: flex;
    align-items: center;
    height: 100%;
    gap: 20px;
}

.form {
    width: 100%;
    height: calc(100% - 80px);
    display: flex;
    flex-direction: column;
    justify-content: end;
    border: 1px solid rgba(25, 25, 25, 0.32);
    background-color: #151219;
    border-radius: 28px;
    padding: 0;
}

.messages {
    height: 100%;
    display: flex;
    flex-direction: column-reverse;
    align-items: end;
    padding: 10px;
    border-radius: 28px 28px 0 0;
    overflow-y: auto;
    overflow-x: hidden;
}

.message {
    border-radius: 16px;
    margin: 4px 0;
    padding: 6px 10px 0;
    background-color: #cfbff5;
    display: flex;
    flex-direction: column;
    gap: 2px;
    position: relative;
    max-width: 90%;
}

.message::before {
    position: absolute;
    content: "";
    display: block;
    background-color: #cfbff5;
    width: 25px;
    height: 14px;
    bottom: 0;
    right: -8px;
    border-radius: 100% 100% 0 0 / 100% 100% 0 0;
    z-index: 1;
}

.message::after {
    content: "";
    position: absolute;
    right: -10px;
    bottom: 0;
    width: 10px;
    height: 16px;
    border-radius: 0 100%;
    background: #151219;
    z-index: 3;
}

.message__text {
    overflow-wrap: break-word;
}

.message__info {
    align-self: flex-end;
    display: flex;
    gap: 3px;
}

.message__time {
    font-size: 12px;
    text-align: end;
    z-index: 5;
}

.material-symbols-outlined {
    color: #cfbff5;
    font-size: 32px;
}

.message__arrows {
    color: black;
    font-size: 18px;
    z-index: 2;
}

/* width */
::-webkit-scrollbar {
    width: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #cfbff5;
    border-radius: 10px;
}

