$mainbg-dark: #211e27;
$mainbg-light: #f3ebf8;

$primary-dark: #cfbff5;
$primary-light: #5b22b4;

$secondary-dark: #4b4453;
$secondary-light: #e8dff2;

$contentarea-dark: #15121a;
$contentarea-light: #fef7ff;

$text-dark: #e7e0ec;
$text-light: #1d1a23;