$mainbg-dark: #211e27;
$mainbg-light: #f3ebf8;

$primary-dark: #cfbff5;
$primary-light: #5b22b4;

$secondary-dark: rgba(75, 68, 83, 0.7);
$secondary-light: #e8dff2;

$onhover-dark: rgba(205, 188, 245, 0.4);
$onhover-light: rgba(90, 34, 180, 0.3);

$contentarea-dark: #15121a;
$contentarea-light: #fef7ff;

$text-dark: #e7e0ec;
$text-light: #1d1a23;