@use "../../variables.scss" as *;

.bg {
    position: fixed;
    bottom: 10px;
    width: 100%;
    max-width: 768px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: end;
    border-radius: 28px;
    padding: 0;
    z-index: -2;
    transition: all 0.2s ease;
}

.empty-chat {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
}

.content_chat {
    padding: 0 14px 14px;
    margin: 0;
    max-height: calc(100% - 80px);
}

.form {
    position: fixed;
    bottom: 0;
    width: 100%;
    max-width: 768px;
    display: flex;
    flex-direction: column;
    justify-content: end;
    padding: 0;
    z-index: 2;
    transition: z-index 0.2s ease;

    &_z-0 {
        z-index: 1;
    }

    &__input {
        border: none;
        outline: none;
        width: 100%;
        padding: 0 60px 0 20px;
        min-height: 58px;
        font-size: 16px;

        &::placeholder {
            opacity: 0.5;
        }

        @media screen and (width >= 768px) {
            border-radius: 0 0 28px 28px;
        }
    }

    &__bottom-spacer {
        display: none;

        &::before {
            content: "";
            position: absolute;
            top: -28px;
            left: 0;
            width: 28px;
            height: 28px;
            background-repeat: no-repeat;
            transform: rotate(-90deg);
        }

        &::after {
            content: "";
            position: absolute;
            top: -28px;
            right: 0;
            width: 28px;
            height: 28px;
            background-repeat: no-repeat;
            transform: rotate(90deg);
        }

        @media screen and (width >= 768px) {
            display: block;
            height: 10px;
            width: 100%;
            position: relative;
        }
    }

    &__input-container {
        position: relative;
    }

    &__send-btn {
        position: absolute;
        top: 8px;
        right: 16px;
        cursor: pointer;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: transparent;
        padding: 8px 6px;
        border-radius: 100%;
        font-size: 12px;
        border: none;
        outline: none;
        transition: background-color 0.2s ease;
        margin: 0 auto;

        &_attachments {
            right: 60px;
            transform: rotate(135deg);
        }

        &_voice,
        &_attachments,
        &_delete {
            padding: 8px 8px 8px 5px;
        }

        &_voice_recording {
            outline: 1px solid red;
            animation: pulse-outline 1s infinite ease-in-out;
        }

        @keyframes pulse-outline {
            0% {
                outline-width: 2px;
            }
            25% {
                outline-width: 3px;
            }
            50% {
                outline-width: 5px;
            }
            75% {
                outline-width: 3px;
            }
            100% {
                outline-width: 2px;
            }
        }

        &_delete {
            right: 60px;
        }

        &::before {
            content: "\00a0";
        }

        &:hover {
            background: #1512195b;
        }
    }

    &__timer {
        position: absolute;
        top: 18px;
        right: 70px;
        font-size: 18px;
    }

    &__audio {
        position: absolute;
        top: -2px;
        left: 0;
        height: 100%;
        display: flex;
        align-items: center;
        max-width: 210px;
        width: 100%;
        font-size: 12px;
        z-index: 100;

        @media screen and (width >= 480px) {
            max-width: 370px;
        }

        @media screen and (width >= 768px) {
            max-width: 630px;
        }
    }

    &__mic_recording {
        position: relative;
        color: red;
        transform: scale(1.3);

        &::before {
            content: "";
            display: block;
            width: 25px; /* Размер внутреннего круга */
            height: 25px;
            background-color: white; /* Цвет внутреннего круга */
            border-radius: 50%;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }

        &::after {
            content: "";
            position: absolute;
            top: 50%;
            left: 50%;
            width: 70px; /* Начальный размер пульсирующей окружности */
            height: 70px;
            background-color: rgba(255, 0, 0, 0.3); /* Полупрозрачный цвет */
            border-radius: 50%;
            transform: translate(-50%, -50%) scale(1);
            animation: pulse-circle 1.5s infinite ease-out; /* Анимация окружности */
            z-index: 1; /* Окружность под иконкой */
        }

        @keyframes pulse-circle {
            0% {
                transform: translate(-50%, -50%) scale(1);
                opacity: 0.8;
            }
            100% {
                transform: translate(-50%, -50%) scale(1.6); /* Увеличение размера окружности */
                opacity: 0; /* Постепенное исчезновение */
            }
        }
    }

    &__dropdown {
        visibility: hidden;
        opacity: 0;
        position: absolute;
        top: -135px;
        right: 57px;
        border-radius: 28px;
        min-width: 120px;
        padding: 7px;
        min-height: 70px;
        z-index: 999;
        transition: visibility 0.2s ease, opacity 0.2s ease;
        display: flex;
        flex-direction: column;
        gap: 5px;

        &_active {
            opacity: 1;
            visibility: visible;
        }
    }

    &__dropdown-element {
        display: flex;
        align-items: center;
        justify-content: start;
        border-radius: 24px;
        height: 56px;
        gap: 7px;
        padding: 0 16px;
        background-color: transparent;
        cursor: pointer;
        font-size: 16px;
        transition: background-color 0.2s ease;
    }

    &__dragging {
        position: absolute;
        top: calc(-100vh + 50px);
        left: 0;
        width: 100%;
        max-width: 768px;
        height: calc(100vh - 50px);
        visibility: hidden;
        opacity: 0;
        transition: visibility 0.2s ease, opacity 0.2s ease;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 10px;

        &_active {
            visibility: visible;
            opacity: 1;
            z-index: 100;
        }

        &::before {
            content: "Перетащите файлы в эту область\A(макс. 9 МБ)";
            white-space: pre-wrap;
            text-align: center;
            font-size: 16px;
        }

        @media screen and (width >= 768px) {
            &::before {
                font-size: 22px;
            }
        }
    }

    &__modal {
        position: fixed;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        transition: visibility 0.2s ease, opacity 0.2s ease;
        visibility: hidden;
        opacity: 0;

        &_active {
            visibility: visible;
            opacity: 1;
            z-index: 3;
        }

        &-content {
            width: 300px;
            border-radius: 28px;
            display: flex;
            padding: 12px;
            flex-direction: column;

            @media screen and (width >= 380px) {
                width: 320px;
            }

            @media screen and (width >= 480px) {
                width: 400px;
            }

            @media screen and (width >= 768px) {
                width: 500px;
            }
        }

        &-text {
            font-size: 14px;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }

        &-grid {
            display: grid;
            grid-template-columns: 1fr 1fr;
            width: 100%;
            gap: 2px;
        }

        &-grid-1 {
            grid-template-columns: 1fr;
            grid-template-rows: 1fr;
        }

        &-grid-2 {
            grid-template-columns: 1fr;
            grid-template-rows: repeat(2, 150px);

            @media screen and (width >= 480px) {
                grid-template-columns: 1fr 1fr;
                grid-template-rows: 250px;
            }
        }

        &-grid-3 {
            grid-template-rows: repeat(2, 150px);

            @media screen and (width >= 768px) {
                grid-template-columns: 1fr 1fr 1fr;
                grid-template-rows: 200px;
            }
        }

        &-grid-4 {
            grid-template-rows: repeat(2, 150px);

            @media screen and (width >= 480px) {
                grid-template-rows: repeat(2, 200px);
            }
        }

        &-grid-5 {
            grid-template-rows: repeat(3, 100px);

            @media screen and (width >= 380px) {
                grid-template-rows: repeat(3, 120px);
            }

            @media screen and (width >= 480px) {
                grid-template-rows: repeat(3, 150px);
            }
        }

        &-img {
            border-radius: 16px;
            border: 1px solid $onhover-dark;
            width: 100%;
            height: 100%;
            object-fit: cover;
            max-height: 400px;
        }

        &-buttons {
            margin-top: 14px;
            width: 100%;
            display: flex;
            justify-content: end;
            gap: 10px;
            cursor: pointer;
        }

        &-button {
            min-width: 60px;
            padding: 10px;
            border-radius: 14px;
            border: none;
            cursor: pointer;

            // &_cancel {
            // }

            &_confirm {
                min-width: 80px;
            }
        }
    }
}

.messages {
    display: flex;
    flex-direction: column-reverse;
    // justify-content: flex-start;
    padding: 0px 0 70px;
    border-radius: 28px 28px 0 0;
    margin-top: 90px;
    width: 100%;
    max-width: 768px;
    z-index: 0;
    flex-grow: 1;

    @media screen and (width >= 768px) {
        padding-bottom: 80px;
    }
}

.message__wrapper {
    width: 100%;
    display: flex;
    flex-direction: row-reverse;
    padding: 0 10px;

    &_incoming {
        flex-direction: row;
    }
}

.message {
    border-radius: 16px;
    margin: 4px 0;
    padding: 6px 10px 0;
    display: flex;
    flex-direction: column;
    gap: 2px;
    position: relative;
    max-width: 90%;
    align-self: end;
    animation: slideUp 0.3s ease-in-out;
    transition: transform 0.1s ease;

    &::before {
        position: absolute;
        content: "";
        display: block;
        width: 25px;
        height: 14px;
        bottom: 0;
        right: -8px;
        border-radius: 100% 100% 0 0 / 100% 100% 0 0;
        z-index: 1;
    }

    &::after {
        content: "";
        position: absolute;
        right: -10px;
        bottom: 0;
        width: 10px;
        height: 16px;
        border-radius: 0 100%;
        z-index: 3;
    }

    &_selected {
        transform: translateX(-10px);
    }

    &_incoming {
        align-self: flex-start;

        .tooltip .tooltiptext {
            margin: 0 0 0 30px;
        }

        &::before {
            left: -8px;
        }

        &::after {
            left: -10px;
            border-radius: 100% 0;
        }
    }

    &_incoming.message_selected {
        transform: translateX(10px);
    }

    &__text {
        overflow-wrap: break-word;
    }

    &__info {
        align-self: flex-end;
        display: flex;
        gap: 3px;
    }

    &__time {
        font-size: 12px;
        text-align: end;
        z-index: 5;
    }

    &__arrows {
        font-size: 18px;
        z-index: 2;

        &_incoming {
            font-size: 18px;
            z-index: 2;
        }
    }
}

.tooltip {
    position: relative;

    .tooltiptext {
        visibility: hidden;
        width: 160px;
        background-color: #555;
        color: #fff;
        text-align: center;
        border-radius: 6px;
        position: absolute;
        z-index: 1;
        bottom: -17px;
        left: -80%;
        margin-left: -60px;
        opacity: 0;
        transition: opacity 0.3s;
        font-size: 11px;
    }

    &:hover {
        .tooltiptext {
            visibility: visible;
            opacity: 1;
        }
    }
}

@media screen and (min-width: 380px) {
    .info__user {
        margin-left: 8px;
    }

    .info__back,
    .info__search,
    .info__more {
        font-size: 32px;
    }

    .info__avatar-container {
        width: 50px;
        height: 50px;
    }

    .info__name-container {
        max-width: calc(100vw - 230px);
    }
}

@media screen and (min-width: 768px) {
    .content_chat {
        padding: 0 0 14px;
    }

    .info {
        max-width: 768px;
        padding: 0;
    }

    .info__name-container {
        max-width: 520px;
    }
}

@keyframes slideUp {
    from {
        opacity: 0;
        transform: translateY(10px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.dark {
    .bg {
        background-color: $contentarea-dark;
    }

    .form {
        &__input {
            color: $text-dark;
            background-color: $secondary-dark;

            &::placeholder {
                color: $text-dark;
            }
        }

        &__bottom-spacer {
            background-color: $mainbg-dark;

            &::before {
                background-image: url(../../assets/border-left.svg);
            }

            &::after {
                background-image: url(../../assets/border-right.svg);
            }
        }

        &__send-btn {
            color: $primary-dark;

            &:focus-visible {
                outline: 2px solid $primary-dark;
            }
        }

        &__modal {
            background: rgba($color: #000000, $alpha: 0.9);

            &-content {
                background-color: $mainbg-dark;
            }

            &-button {
                &:focus-visible {
                    outline: 2px solid $primary-dark;
                }

                &_cancel {
                    background-color: $contentarea-dark;
                    color: $text-dark;
                }

                &_confirm {
                    background-color: $primary-dark;
                }
            }
        }

        &__dropdown {
            background-color: $secondary-dark;
            box-shadow: 0 0 16px rgba(0, 0, 0, 1);
        }

        &__dropdown-element {
            border: none;
            color: $text-dark;

            &:hover {
                background-color: $onhover-dark;
            }
        }

        &__dropdown-icon {
            color: $primary-dark;
        }

        &__dragging {
            background-color: $contentarea-dark;

            &-title,
            &-text {
                color: $primary-dark;
            }
        }
    }

    .message__wrapper {
        &_active {
            background-color: $onhover-dark;
        }
    }

    .message {
        background-color: $primary-dark;
        color: $contentarea-dark;

        &::before {
            background-color: $primary-dark;
        }

        &::after {
            background-color: $contentarea-dark;
        }

        &_selected::after,
        &_selected::before {
            opacity: 0;
        }

        &_incoming {
            background-color: $secondary-dark;
            color: $text-dark;

            &::before {
                background-color: $secondary-dark;
            }

            &.message_selected::after,
            &.message_selected::before {
                opacity: 0;
            }
        }

        &__arrows {
            color: $contentarea-dark;

            &_incoming {
                color: $text-dark;
            }
        }
    }
}

.light {
    .bg {
        background-color: $contentarea-light;
    }

    .form {
        &__input {
            color: $text-light;
            background-color: $secondary-light;

            &::placeholder {
                color: $text-light;
            }
        }

        &__bottom-spacer {
            background-color: $mainbg-light;

            &::before {
                background-image: url(../../assets/border-left-light.svg);
            }

            &::after {
                background-image: url(../../assets/border-right-light.svg);
            }
        }

        &__send-btn {
            color: $primary-light;

            &:hover {
                background: $onhover-dark;
            }

            &:focus-visible {
                outline: 2px solid $primary-light;
            }
        }

        &__modal {
            background: rgba($color: #000000, $alpha: 0.75);

            &-content {
                background-color: $mainbg-light;
            }

            &-button {
                &:focus-visible {
                    outline: 2px solid $primary-light;
                }

                &_cancel {
                    background-color: $contentarea-light;
                    color: $text-light;
                    border: 1px solid $primary-light;
                }

                &_confirm {
                    background-color: $primary-light;
                    color: $text-dark;
                }
            }
        }

        &__dropdown {
            background-color: $secondary-light;
            box-shadow: 0 0 10px rgba(91, 34, 180, 0.5);
        }

        &__dropdown-element {
            border: none;
            color: $text-light;

            &:hover {
                background-color: $onhover-light;
            }
        }

        &__dropdown-icon {
            color: $primary-light;
        }

        &__dragging {
            background-color: $contentarea-light;

            &-title,
            &-text {
                color: $primary-light;
            }
        }
    }

    .message__wrapper {
        &_active {
            background-color: $onhover-light;
        }
    }

    .message {
        background-color: $primary-light;
        color: $contentarea-light;

        &::before {
            background-color: $primary-light;
        }

        &::after {
            background-color: $contentarea-light;
        }

        &_selected::after,
        &_selected::before {
            opacity: 0;
        }

        &_incoming {
            background-color: $secondary-light;
            color: $text-light;

            &::before {
                background-color: $secondary-light;
            }

            &.message_selected::after,
            &.message_selected::before {
                opacity: 0;
            }
        }

        &__arrows {
            color: $contentarea-light;

            &_incoming {
                color: $text-light;
            }
        }
    }
}
