@use "../../variables.scss" as *;

.modal {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: visibility 0.2s ease, opacity 0.2s ease;
    visibility: hidden;
    opacity: 0;

    &_active {
        visibility: visible;
        opacity: 1;
        z-index: 3;
    }

    &__content {
        width: 100%;
        max-width: 300px;
        background: #000;
        border-radius: 28px;
        padding: 18px 14px 14px;
        display: flex;
        flex-direction: column;
        gap: 20px;

        @media screen and (width >= 380px) {
            max-width: 320px;
        }

        @media screen and (width >= 480px) {
            max-width: 400px;
        }
    }

    &__input {
        height: 46px;
        border-radius: 16px;
        border: none;
        padding: 0 10px;
        outline: none;
    }

    &__text {
        font-size: 18px;
    }

    &__buttons {
        width: 100%;
        display: flex;
        justify-content: end;
        gap: 10px;
        cursor: pointer;
    }

    &__button {
        min-width: 60px;
        padding: 10px;
        border-radius: 14px;
        border: none;
        cursor: pointer;

        // &_cancel {

        // }

        &_confirm {
            min-width: 80px;
        }
    }
}
.dark {
    .modal {
        background: rgba($color: #000000, $alpha: 0.9);

        &__content {
            background-color: $mainbg-dark;
        }

        &__input {
            background-color: $onhover-dark;
            color: $text-dark;

            &:focus-visible {
                outline: 2px solid $primary-dark;
            }
        }

        &__button {
            &:focus-visible {
                outline: 2px solid $primary-dark;
            }

            &_cancel {
                background-color: $contentarea-dark;
                color: $text-dark;
            }

            &_confirm {
                background-color: $primary-dark;
            }
        }
    }
}

.light {
    .modal {
        background: rgba($color: #000000, $alpha: 0.75);

        &__content {
            background-color: $mainbg-light;
        }

        &__input {
            background-color: white;
            color: $text-light;

            &:focus-visible {
                outline: 2px solid $primary-light;
            }
        }

        &__button {
            &:focus-visible {
                outline: 2px solid $primary-light;
            }

            &_cancel {
                background-color: $contentarea-light;
                color: $text-light;
                border: 1px solid $primary-light;
            }

            &_confirm {
                background-color: $primary-light;
                color: $text-dark;
            }
        }
    }
}
